.box {
  margin-bottom: 70px;

  &__title {
    margin-bottom: 30px;
    font-size: 42px;
    color: #2fc487;
    font-weight: 700;
  }

  &__content {
    color: #555;
    line-height: 1.7;
    font-size: 15px;
  }
}